@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;   
}

/* body{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
*/

.bg{
    background: url('https://cdn.dribbble.com/users/77598/screenshots/3860676/media/ef7fbad9d9ce1f5f6f2eea037b8eda29.png?compress=1&resize=400x300') no-repeat center center/cover;
    position: absolute;
    top: -30;
    left: -30;
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 75px;
    color: #000;
}

h1 span{
    color: green;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    position: fixed;
    background-color: #101010;
}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;

}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
}

.logo_container h1 span{
    font-weight: 800;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
}

.navigation a li:hover{
    color: green;
    font-weight: bold;
    text-shadow: -1px 1px 2px #fff,
				  1px 3px 2px #fff,
				  1px -1px 0 #fff,
				  -1px -1px 0 #fff;
}